/* General Styles */
body {
    font-family: 'Open Sans', EB Garamond;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #0F2F76;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #ae212f;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Main Content */
main {
    padding: 20px;
    text-align: center;
}

/* Quote Container */
.quote-container {
    margin: 20px auto;
    padding: 30px;
    max-width: 600px;
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    font-size: 22px;
    font-style: italic;
}

/* Buttons */
button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #2b3aa7;
    color: white;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #528eff;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Feedback Container for "Correct!" Message */
.feedback-container {
    margin: 20px auto;
    padding: 10px 20px;
    max-width: 300px;
    background-color: #d4edda;
    border: 2px solid #c3e6cb;
    border-radius: 10px;
    color: #155724;
    text-align: center;
    font-weight: bold;
}

/* Source and Next Buttons Container */
.source-next-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px; /* Space between the buttons */
}

/* Adjusted Styling for Next Button */
#next-button {
    font-size: 18px; /* Larger font size for Next button */
    padding: 12px 24px; /* Larger padding for Next button */
    background-color: #2b3aa7; /* Keep the original color for Next button */
}

/* Source Button - New Smaller Size and Different Color */
#source-button, #source-button-game-over, #source-button2, #source-button3 {
    background-color: #17a2b8; /* Blue-green color for Source button */
    font-size: 14px; /* Smaller font size */
    padding: 8px 16px; /* Smaller padding for Source button */
    margin-top: 3px; /* Adjusted to 3px for 2px higher position */
}

/* Source Link */
#quote-source a {
    color: #2b3aa7;
    text-decoration: none;
    font-weight: bold;
    background-color: #f4f4f9;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap; /* Prevents wrapping to keep it on one line */
}

#quote-source a:hover {
    color: white;
    background-color: #2b3aa7;
}

/* Score Board */
.score-board {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #ae212f;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}